<ion-view title="About Us" hide-nav-bar="true" id="page7" style="background-color:#000000;" class="goLandscape">
  <ion-content padding="true" style="background: url(img/kN58GMzxR0urU8huQOk9_bg_popchart_office.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <div></div>
    <div>
      <img src="img/xxZnXkuZSn2XqOYJwprt_logo_popchart.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-scroll id="aboutUs-container14" direction="y" has-bouncing="true" class="marginTop5">
      <div id="aboutUs-markdown15" style="text-align:justify;" class="show-list-numbers-and-dots marginTop45 centerAlign aboutUsTextContainer">
        <p style="color:#FFFFFF;font-size:16px;">
          <strong>Thank you, for your interest in PopChart Family, we're excited and humbled to have you as a user or potential user.</strong>
        </p>

        <p style="color:#FFFFFF;font-size:16px;">
          <strong>We, the Morris Family, promise to provide you and your family with the best possible experience we can deliver.</strong>
        </p>

        <p style="color:#FFFFFF;font-size:16px;">
          <strong>This is version 1.0, and it has rough edges. But, as we grow and iterate and innovate, PopChart Family it will get better. For example, PopTown, that's going to increase in size. We already have a large structure in the works that we think most
            kids will be pretty excited about.</strong>
        </p>

        <p style="color:#FFFFFF;font-size:16px;">
          <strong>Sara Morris (Super Mom/Wife, CEO, co-founder, artist - almost all of the art in the app was hand drawn by Sara)</strong>
        </p>

        <p style="color:#FFFFFF;font-size:16px;">
          <strong>Sam Morris (Dad, co-founder, programmer, struggling designer)</strong>
        </p>

        <p style="color:#FFFFFF;font-size:16px;">
          <strong>Anita Licklider (Advisor, Editor/Writer of Family &amp; Kids on PopChart's Medium Publication)</strong>
        </p>

        <p style="color:#FFFFFF;font-size:16px;">
          <strong>Anita has a MS in Educational Management, credentials in special education, general education, counseling and School Psychology. She has over thirty years of experience working with children in and outside the educational setting.</strong>
        </p>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>