<ion-view title="Add a Parent or Guardian" id="page19" style="background-color:#C0DBED;">
  <ion-content padding="true" class="has-header">
    <form id="addAParentOrGuardian-form18" class="list">
      <div id="addAParentOrGuardian-markdown24" class="show-list-numbers-and-dots">
        <p style="color:#000000;">You may add a additional parent or guardian by sending that person a request using the form below. </p>

        <p style="color:#000000;">Once the additional Parent / Guardian has followed the e-mail instructions, they will have full Parental access to the main account.</p>
      </div>
      <ion-list id="addAParentOrGuardian-list10">
        <label class="item item-input" id="addAParentOrGuardian-input18">
          <span class="input-label">Their Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="addAParentOrGuardian-input22">
          <span class="input-label">Their E-mail</span>
          <input type="email" placeholder="">
        </label>
      </ion-list>
      <button id="addAParentOrGuardian-button12" class="button button-royal button-block">Send</button>
    </form>
  </ion-content>
</ion-view>