<ion-view title="Entrance" hide-nav-bar="true" id="page1" style="background-color:#000000;">
  <ion-content padding="true" style="background: url(img/VNFzfepeTLC9WEEXxY2q_bg_moon.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="logo_onboarding">
      <img src="img/iEIumbRjQZywO7Vy8kRN_logo_variation_with_family.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="btn_green_signup">
      <a style="display:block;" ui-sref="parentSignup()">
        <img src="img/Zy0XHjs9TkKRejQaE9C0_btn_green_signup.png" style="display:block;width:45%;height:auto;">
      </a>
    </div>
    <div id="entrance-markdown1" class="show-list-numbers-and-dots fredoka"></div>
    <div class="marginTop5">
      <a style="display:block;" ui-sref="parentLogin()">
        <img src="img/59Xu6tlQseVAFTJd1CR8_btn_blue_login.png" style="display:block;width:45%;height:auto;">
      </a>
    </div>
    <div class="marginTop5">
      <a style="display:block;" ui-sref="openlayerTest()">
        <img src="img/WaYqWUj4SUSNmWZIiihv_btn_orange_skip.png" style="display:block;width:45%;height:auto;">
      </a>
    </div>
    <div id="entrance-markdown8" ng-click="openAboutUs()" class="show-list-numbers-and-dots marginTop10 fredoka learnMore marginLeft1">
      <p style="color:#F3C304;font-size:16px;">
        <strong>Learn More</strong>
        <br>about PopChart, our family-owned &amp; operated business.</p>
    </div>
  </ion-content>
</ion-view>