<ion-view title="Marketplace" id="page26" style="background-color:#C0DBED;">
  <ion-content padding="true" class="has-header">
    <div id="marketplace-markdown27" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This is your Family Marketplace. Parents have full admin rights of the Marketplace while in Parent Mode.</p>

      <p style="color:#000000;">We've preloaded the store with a few item suggestions.</p>
    </div>
    <button id="marketplace-button31" class="button button-positive button-block icon-left ion-android-add">Add a new item</button>
    <a ui-sref="marketplaceItems()" id="marketplace-button32" class="button button-balanced button-block icon-left ion-ios-list-outline">See current items</a>
  </ion-content>
</ion-view>