<ion-view title="Parent Notifications" id="page32" style="background-color:#C0DBED;">
  <ion-content padding="true" class="has-header">
    <form id="parentNotifications-form19" class="list">
      <h5 id="parentNotifications-heading12" style="color:#000000;">
        <i class="icon ion-android-notifications"> </i> Device notifications</h5>
      <ion-checkbox id="parentNotifications-checkbox1">Chore completed</ion-checkbox>
      <ion-checkbox id="parentNotifications-checkbox2">Item purchased</ion-checkbox>
      <ion-checkbox id="parentNotifications-checkbox4">New chat message</ion-checkbox>
      <ion-checkbox id="parentNotifications-checkbox7">Other</ion-checkbox>
    </form>
    <h5 id="parentNotifications-heading11" style="color:#000000;">
      <i class="icon ion-email"> </i> E-mail notifications</h5>
    <form id="parentNotifications-form20" class="list">
      <ion-checkbox id="parentNotifications-checkbox8">New Kid added</ion-checkbox>
      <ion-checkbox id="parentNotifications-checkbox9">Weekly reports</ion-checkbox>
      <ion-checkbox id="parentNotifications-checkbox10">News and updates</ion-checkbox>
    </form>
  </ion-content>
</ion-view>