<ion-view title="Parent Mode" hide-back-button="true" id="page15" style="background-color:#C0DBED;">
  <ion-content padding="true" class="has-header">
    <ion-list id="parentMode-list3">
      <ion-item class="item-divider" id="parentMode-list-item-divider13">
        <h3>Admin</h3>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right assertive" id="parentMode-list-item2" ui-sref="kids()">
        <i class="icon ion-android-hand"></i>Subscription
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right royal" id="parentMode-list-item18" ui-sref="kids()">
        <i class="icon ion-android-happy"></i>Kids
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right positive" id="parentMode-list-item1" ui-sref="popTownBank()">
        <i class="icon ion-cash"></i>The Bank
        <span class="item-note">Points</span>
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right energized" id="parentMode-list-item3" ui-sref="theOffice()">
        <i class="icon ion-android-checkmark-circle"></i>The Office
        <span class="item-note">Chores</span>
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right calm" id="parentMode-list-item4" ui-sref="marketplace()">
        <i class="icon ion-ios-cart"></i>Marketplace
        <span class="item-note">Rewards</span>
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right balanced" id="parentMode-list-item19" href-inappbrowser="https://medium.com/family-kids?utm_medium=app&amp;utm_campaign=parentmode_menu&amp;utm_source=parentmode">
        <i class="icon ion-ios-book"></i>Family &amp; Kids
        <span class="item-note">Advice</span>
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-divider" id="parentMode-list-item-divider14"> Additional settings</ion-item>
      <ion-item class="item-icon-right dark" id="parentMode-list-item7" ui-sref="addAParentOrGuardian()">Add a Parent
        <span class="item-note">Spouse, relative</span>
        <i class="icon ion-person-add"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="parentMode-list-item29">Share the app
        <span class="item-note">We need you!</span>
        <i class="icon ion-share"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="parentMode-list-item28" ui-sref="whichMode()">Kid Mode
        <i class="icon ion-arrow-swap"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="parentMode-list-item8" ng-click="logout()">Logout
        <i class="icon ion-android-exit"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="parentMode-list-item12" ui-sref="parentNotifications()">Notifications
        <i class="icon ion-android-notifications"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="parentMode-list-item9" ui-sref="aboutUs()">About us
        <i class="icon ion-ios-heart"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="parentMode-list-item30" href="mailto:support@popchart.family">Support
        <i class="icon ion-help-buoy"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>