<ion-view title="Password Reset" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="passwordReset-form3" class="list">
      <label class="item item-input marginTop5" id="passwordReset-input7" name="email">
        <span class="input-label">E-mail</span>
        <input type="email" placeholder="you@yourdomain.com" ng-model="data.email">
      </label>
    </form>
    <button id="passwordReset-button43" ng-click="sendResetEmail()" class="button button-positive button-block">Submit</button>
    <div id="passwordReset-markdown16" style="text-align:center;" class="show-list-numbers-and-dots marginTop5">
      <p style="color:#000000;">
        <strong>{{data.message}}</strong>
      </p>
    </div>
    <div id="passwordReset-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#E74C3C;">
        <strong>{{data.error}}</strong>
      </p>
    </div>
  </ion-content>
</ion-view>