<ion-view title="Service Plans BU" id="page9" style="background-color:#C0DBED;" ng-click="returnToPrevious()">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-close-circled"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="servicePlansBU-container9" class="paperBg paperPadding">
      <div id="servicePlansBU-markdown18" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Our Commitment to Your Family</strong>
        </p>

        <p style="color:#000000;">We're a small, family-owned &amp; family-operated business located about an hour South of Seattle in Olympia, Washington.</p>

        <p style="color:#000000;">With your family subscription, we can continue to innovate, grow and ultimately help other families, from around the world, grow closer together.</p>

        <p style="color:#000000;">Sara &amp; I, would like to invite you to try PopChart Family, free for 7 days. </p>

        <p style="color:#000000;">After your 7 day trial ends,
          <strong>you just pay the price that you set below</strong>. </p>

        <p style="color:#000000;">Say what?
          <strong>How much is PopChart ?</strong> It really is, up to you :)
          <strong>You decide the price!</strong>
        </p>

        <p style="color:#000000;">There is
          <strong>NO contract</strong> and we will honor your price choice for up to 12 months. </p>
      </div>
      <div>
        <img src="img/LeeMYjIHSrWBYaA1IYri_famfam.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="servicePlansBU-markdown19" style="text-align:center;" class="show-list-numbers-and-dots marginTop10">
        <p style="color:#000000;">-- the Morris fam </p>
      </div>
    </div>
    <h2 id="servicePlansBU-heading6" style="color:#000000;text-align:center;" class="marginTop5 fredoka">Service Plan</h2>
    <div id="servicePlansBU-container10" class="goldenpear_nyop marginTop5">
      <ul class="text-white text-left liHeight serviceIncludes2" style="">
        <li>A Parent Mode and a Kid Mode in one app.</li>
        <li>Simple &amp; secured (via Kid pin!) account switching for siblings with shared devices.</li>

        <li>Access to the Web, iOS &amp; Android apps</li>
        <li>Parent Dashboard</li>
        <li>Secure &amp; reliable. Our backend is Google.</li>
        <li>Billing data not stored with us.</li>
        <li>Daily data back-ups</li>
        <li>Real-time data views, no refreshing between screens or needing to "pull-down". Our user-interface updates in real-time.</li>
        <li>The Bank (where you can go to make basic transactions: deposit, withdrawl, view balance, and activity. All of this data is retained for the entirety of the Active status account.</li>
        <li>Simple first time setup</li>

        <li>Up to
          <u>4</u> kiddos</li>
        <li>500+ in-app Avatar Items</li>
        <li>A virtual "Bank" (where you can go to make basic transactions: deposit, withdrawl, view balance, and activity. All of this data is retained for the entirety of the Active status account.</li>
        <li>Unlimited chores or tasks</li>
        <li>Family Store</li>
        <li>3-month data retention</li>
        <li>Up to
          <u>8</u> kiddos</li>
        <li>12-month data retention</li>
        <li>Unlocks rare, Marketplace
          <br>Avatar items &amp; Pets</li>
        <li>Analytics w/ optional monthly
          <br>kid reports (coming soon)</li>

      </ul>
    </div>
    <h3 id="servicePlansBU-heading7" style="color:#000000;text-align:center;" class="fredoka">Name Your Own Price!</h3>
    <form id="servicePlansBU-form10" class="list">
      <label class="item item-select" id="servicePlansBU-select3" name="nyop_select">
        <span class="input-label">How much?</span>
        <select>
          <option>$9.99 per month</option>
          <option>$8.99 per month</option>
          <option>$7.99 per month</option>
          <option>$6.99 per month</option>
          <option>$5.99 per month</option>
          <option>$4.99 per month</option>
          <option>$3.99 per month</option>
          <option>$2.99 per month</option>
          <option>$1.99 per month</option>
          <option>$10.99 per month</option>
          <option>$11.99 per month</option>
          <option>$12.99 per month</option>
          <option>$13.99 per month</option>
          <option>$14.99 per month</option>
          <option>$15.99 per month</option>
          <option>$16.99 per month</option>
          <option>$17.99 per month</option>
          <option>$18.99 per month</option>
          <option>$19.99 per month</option>
        </select>
      </label>
      <div class="marginTop5">
        <a style="display:block;" ui-sref="thankYou()">
          <img src="img/9ZpzRcRgCO9qHEoRUC3g_btn_blue_save.png" style="display: block; width: 65%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="spacer" style="height: 50px;"></div>
      <div style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/HPpZvkSVRbqNo7N6gHdM_grass_floor.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </form>
  </ion-content>
</ion-view>