<ion-view title="Service Plan" id="page11" style="background-color:#C0DBED;">
  <ion-content padding="true" class="has-header">
    <div id="servicePlan-container2" class="paperBg paperPadding">
      <div id="servicePlan-markdown20" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Our Commitment to Your Family</strong>
        </p>

        <p style="color:#000000;">We're a small, family-owned &amp; family-operated business located about an hour South of Seattle in Olympia, Washington.</p>

        <p style="color:#000000;">With your family subscription, we can continue to innovate, grow and ultimately help other families, from around the world, grow closer together.</p>

        <p style="color:#000000;">Sara &amp; I, would like to invite you to try PopChart Family, free for 7 days. </p>

        <p style="color:#000000;">After your 7 day trial ends,
          <strong>you just pay the price that you set below</strong>. </p>

        <p style="color:#000000;">Say what?
          <strong>How much is PopChart ?</strong> It really is, up to you :)
          <strong>You decide the price!</strong>
        </p>

        <p style="color:#000000;">There is
          <strong>NO contract</strong> and we will honor your price choice for up to 12 months. </p>
      </div>
      <div>
        <img src="img/LeeMYjIHSrWBYaA1IYri_famfam.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="servicePlan-markdown21" style="text-align:center;" class="show-list-numbers-and-dots marginTop10">
        <p style="color:#000000;">-- the Morris fam </p>
      </div>
    </div>
    <h4 id="servicePlan-heading4" style="color:#000000;text-align:center;" class="fredoka">Choose Your Own Price</h4>
    <form id="servicePlan-form9" class="list">
      <label class="item item-select" id="servicePlan-select2" name="nyop_select">
        <span class="input-label">Cost</span>
        <select>
          <option>Free trial then $9.99/mo</option>
          <option>Free trial then $8.99/mo</option>
          <option>Free trial then $7.99/mo</option>
          <option>Free trial then $6.99/mo</option>
          <option>Free trial then $5.99/mo</option>
          <option>Free trial then $4.99/mo</option>
          <option>Free trial then $3.99/mo</option>
          <option>Free trial then $2.99/mo</option>
          <option>Free trial then $1.99/mo</option>
          <option>Free trial then $10.99/mo</option>
          <option>Free trial then $11.99/mo</option>
          <option>Free trial then $14.99/mo</option>
          <option>Free trial then $13.99/mo</option>
          <option>Free trial then $14.99/mo</option>
          <option>Free trial then $15.99/mo</option>
          <option>Free trial then $16.99/mo</option>
          <option>Free trial then $17.99/mo</option>
          <option>Free trial then $18.99/mo</option>
          <option>Free trial then $19.99/mo</option>
        </select>
      </label>
      <a ui-sref="thankYou()" id="servicePlan-button45" class="button button-positive button-block">Save</a>
      <div class="spacer" style="height: 50px;"></div>
      <div style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/HPpZvkSVRbqNo7N6gHdM_grass_floor.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </form>
  </ion-content>
</ion-view>