<ion-view title="Thank you!" id="page12" style="background-color:#C0DBED;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-forward"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="thankYou-container8" class="paperBg paperPadding">
      <div id="thankYou-markdown22" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Golden Pear Subscription Confirmed!</strong>
        </p>

        <p style="color:#000000;">We're are humbled and grateful for your support and sincerely hope that PopChart Family will be a positive force in bringing your family closer together.</p>

        <p style="color:#000000;">
          <strong>Your 7 Day Free Trial starts today!</strong>
        </p>

        <p style="color:#000000;">Tap on the "OK" button below to get started setting up your family.</p>
      </div>
      <div id="thankYou-markdown23" style="text-align:center;" class="show-list-numbers-and-dots marginTop10">
        <p style="color:#000000;">-- the Morris fam </p>
      </div>
    </div>
    <a ui-sref="step1()" id="thankYou-button47" class="button button-positive button-block">OK</a>
  </ion-content>
</ion-view>