<ion-view title="Which Mode" id="page4" style="background-color:#000000;">
  <ion-content padding="true" style="background: url(img/FmeOLxQDR0e33HMuHFvc_bg_moon.png) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="whichMode-heading1" style="color:#FFFFFF;text-align:center;" class="fredoka marginTop25">Which mode?</h3>
    <a ui-sref="openlayerTest()" id="whichMode-button41" class="button button-positive button-block">Kid Mode</a>
    <a ui-sref="parentMode()" id="whichMode-button42" class="button button-stable button-block">Parent Mode</a>
  </ion-content>
</ion-view>